#ENVIRONMENT=docker
APP_PORT=8080

SQL_EXPORTER_USER=postgres_exporter
SQL_EXPORTER_PASSWORD=exportertest

# Logging
LOG_LEVEL=debug

# App admin
ADMIN_EMAIL=test@test.com
ADMIN_PASSWORD=password

# Secrets
AUTH_ACCESS_TOKEN_SECRET='uY2pXsnHA02GD6jebv3ZIHKiKbRTxlI4CgTU/s/QEeQ='
AUTH_REFRESH_TOKEN_SECRET='8ibBi1Ral1amQRtR6Tv6vNDplZvRSDGFnI8QyqSk7NI='

# Fake hash
AUTH_FAKE_HASH='$2y$12$P/mlYcOG2Qkz47J5pHw9VObeeQZ1DglNXfxtwXd1XWle2O2TkGuNK'